html {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: whitesmoke;
  height: 100%;
}
body h1 {
  margin: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}
body .contenedorIndex {
  margin-left: 1rem;
}
body .contenedorIndex .primerSubTit {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
body .contenedorIndex .explicacion1 {
  display: flex;
  flex-direction: row;
  width: 95%;
}
body .contenedorIndex .explicacion1 img {
  align-items: end;
  margin: 5px;
  width: 25rem;
  height: 25rem;
  border: solid black;
}
body .contenedorIndex .explicacion1 p {
  margin-right: 15px;
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
body .contenedorIndex .segSubTit {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
body .contenedorIndex p {
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}
body .contenedorIndex .terSubTit {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}
body .contenedorIndex p {
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}
body .ContenedorCarrusel {
  margin: 15px;
  width: 95%;
  /*height: 20rem;*/
}
body .ContenedorCarrusel #carouselExampleCaptions {
  width: 100%;
  height: 100%;
}
body .ContenedorCarrusel #carouselExampleCaptions .carousel-item img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #e3f2fd;
  width: 100%;
  height: 4rem;
}
footer .containerFooter {
  align-content: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "item1 item2";
}
footer .containerFooter .footer-content {
  grid-area: item1;
}
footer .containerFooter .footer-content .footer-logo {
  width: 3.5rem;
}
footer .containerFooter .footer-content .footer-logo img {
  width: 3rem;
  height: 3rem;
  border: 2px;
}
footer .containerFooter .footer-content .footer-links ul {
  list-style: none;
  display: flex;
}
footer .containerFooter .footer-content .footer-links ul li {
  margin: 15px;
}
footer .containerFooter .footer-content .footer-links ul li a {
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}
footer .containerFooter .footer-content .footer-links ul li a:hover {
  font-size: 20px;
}
footer .containerFooter .footer-social {
  grid-area: item2;
  align-items: center;
}
footer .containerFooter .footer-social ul {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
footer .containerFooter .footer-social ul li {
  margin: 5px;
  list-style: none;
}
footer .containerFooter .footer-social ul li a img {
  width: 2rem;
  height: 2rem;
}

header nav {
  padding: 5px;
}
header nav .container-fluid .navbar-brand {
  justify-content: space-evenly;
}
header nav .container-fluid .navbar-brand img {
  width: 8rem;
  height: 8rem;
}
header nav .container-fluid div {
  margin-left: auto;
}
header nav .container-fluid div ul {
  font-size: x-large;
  font-weight: bolder;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 912px) {
  /*INDEX*/
  .contenedorIndex {
    display: flex;
    flex-direction: column;
  }
  .contenedorIndex .explicacion1 {
    display: grid;
    grid-template-areas: "item11" "item22";
  }
  .contenedorIndex .explicacion1 p {
    grid-area: item22;
  }
  .contenedorIndex .explicacion1 img {
    grid-area: item11;
  }
  .ContenedorCarrusel {
    margin: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
