header{
    nav{
        padding: 5px;
        .container-fluid{
            .navbar-brand{
                justify-content: space-evenly;
                img{
                    width: 8rem;
                    height: 8rem;
                }
            }
            div{
                margin-left: auto;
                ul{
                    font-size: x-large;
                    font-weight: bolder;
                    margin-right: 0;
                    margin-left: auto;
                }
                }
            }
        }
    }