html{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: whitesmoke;
    height: 100%;
h1{
    margin: 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
.contenedorIndex{
    margin-left: 1rem;
    .primerSubTit{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
    }

    .explicacion1{
        display: flex;
        flex-direction: row;
        width: 95%;
        img{
            align-items: end;
            margin: 5px;
            width: 25rem;
            height: 25rem;
            border: solid black;

        }
        p{
            margin-right: 15px;
            text-align: center;
            font-weight: bold;
            margin-top: 4rem;
        }
    }
    .segSubTit{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
    }
    p{
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
    }
    .terSubTit{
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }
    p{
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
    }
}
}