@media (min-width: 912px) {

        /*INDEX*/
        .contenedorIndex{
            display: flex;
            flex-direction: column;
            .explicacion1{
                display: grid;
                grid-template-areas: 'item11'
                'item22';
                .p1{
                    grid-area: item22;
                }
                .img1{
                    grid-area: item11;
                }

            } 
        }
        .ContenedorCarrusel{
            margin: 0;
            width: 100%;
        }
        footer{
            display: flex;
            flex-direction: column;
        }
    }
    